DATABASE_URL="file:./dev.db"
TRAIN_STATION_CODE="DNC"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="make-a-secret-for-nextauth"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
CC_EMAILS="cc1@ncssm.edu,cc2@ncssm.edu"
ALLOW_CC_TEST_LOGIN="true"
ALLOW_STUDENT_TEST_LOGIN="true"
